body {
/*  padding-top: 70px;*/
  padding-bottom: 30px;
}

@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.fa-youtube-play:before{content:"\f16a"}
.fa-envelope:before{content:"\f0e0"}
.fa-shopping-bag:before{content:"\f290"}
.fa-paper-plane:before{content:"\f1d8"}
.fa-paper-plane-o:before{content:"\f1d9"}
.fa-chevron-left:before{content:"\f053"}
.fa-chevron-right:before{content:"\f054"}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

p {
	padding: 6px;
	color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
	letter-spacing: 0.5px;
}


/*.container-custom-width*/
.container-custom-width {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width:992px){
	.container-custom-width {
		width: 970px
	}
}
@media (min-width:1200px){
	.container-custom-width {
		width: 1170px
	}
}	
@media (min-width:1400px){
	.container-custom-width {
		width: 1320px
	}
}


.dropdown:hover .dropdown-menu {
	font-size: 16px;
}

/*---------------------------------------
     BANNER
  -----------------------------------------*/
#section_products {
    background-image: url(../images/banner_products.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_multi {
    background-image: url(../images/banner_multisport.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_golf {
    background-image: url(../images/banner_golf-watch.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_handheld {
    background-image: url(../images/banner_handheld.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_acc {
    background-image: url(../images/banner_accessories.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_course {
    background-image: url(../images/banner_courses.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_support {
    background-image: url(../images/banner_support.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

#section_about {
	background-image: url(../images/banner_about.jpg);
	height: 300px;
	overflow: hidden;
	background-position: center;
	position: relative;
}

#section_sitemap {
    background-image: url(../images/banner_sitemap.jpg);
    height: 300px;
    overflow: hidden;
    background-position: center;
	position: relative;
}

@media (min-width: 768px){
	#section_products, #section_multi, #section_golf, #section_handheld, #section_acc, #section_course, #section_support, #section_about, #section_sitemap {
    height: 400px;
	}
}


.banner-title {
	position: absolute;
	font-size: 32px;
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	margin: 0 auto;
	padding: 0 16px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (max-width:767px){
	.banner-title {
		padding: 0 20px;
		text-align: center;
	}
}


/*---------------------------------------
     FOOTER              
  -----------------------------------------*/
.footer-logo {
	padding: 14px 0 14px 15px;
}
@media (max-width:991px){
	.footer-logo {
		text-align: center;
	}
}

.footer-ul {
	text-align: center;
}

.footer-detail {
	color: white;
	transition: all 0.4s ease-in-out;
}
.footer-detail:hover {
	color: #0088e8;
	text-decoration: none;
	font-weight: 600;
}

.footer-title {
	font-size: 15px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 16px 10px;
	margin: 0;
}

@media screen and (min-width: 992px) {
  .jumbotron {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #64c2bf;
	margin-top: 40px;
	overflow: hidden;
  }
}
@media (max-width: 991px) {
	.jumbotron {
	padding-top: 40px;
	padding-bottom: 28px;
	background-color: #64c2bf;
	margin-top: 40px;
  }
}

/*copyright*/
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
}
@media (max-width: 991px){
	.copyright {
		text-align: center;
		padding-top: 12px;
	}
}

/*sitemap*/
.jumbotron p{
	margin: 0;
}

.sitemap{
	display: inline-block;
	padding: 0px 10px;
}

.sitemap a{
	color: white;
}

.row-line{
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: right;
}
@media (max-width:991px){
	.row-line{
		text-align: center;
		padding-top: 14px;
	}
}

.row-line > .row-line-left {
    position: relative;
	padding: 0 16px;
}

.row-line > .row-line-left:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 80%;
    background: #FFFFFF;
    left: 0;
    top: 0;
}

 /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/
footer .social-icon {
	margin: 0px;
  }
@media (max-width:991px){
	footer .social-icon {
		margin-bottom: 8px;
		margin-top: 8px;
  	}
}

.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
	text-align: right;
}
@media (max-width:991px){
	.social-icon {
		text-align: center;
	}
}

.social-icon li {
	display: inline-block;
	list-style: none;
	margin: 5px 5px;
}

.social-icon li a {
	border-radius: 100px;
	border: solid 2px #FFF;
	color: #FFF;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-decoration: none;
	text-align: center;
}

.youtube{
	border-radius: 100px;
	background: rgba(212, 36, 40,0.9);
	width: 40px;
	height: 40px;
	transition: all 0.4s ease-in-out;
}

.email{
	border-radius: 100px;
	background: rgba(0, 136, 232,0.9);
	width: 40px;
	height: 40px;
	transition: all 0.4s ease-in-out;
}

.shop{
	border-radius: 100px;
	background: rgba(249, 179, 3,0.9);
	width: 40px;
	height: 40px;
	transition: all 0.4s ease-in-out;
}

.youtube:hover, .email:hover, .shop:hover {
	background: rgba(255,255,255,0.4);
}

 /*---------------------------------------
     NOTIFICATION BAR
  -----------------------------------------*/
.notification-bar {
	background-color: #64c2bf;
	color: white;
	margin-top: 74px;
}

@media (min-width: 768px) {
	.text-lg-left {
		text-align: left!important;
	}
}


.ul-content {
	padding-left: 18px;
}

.padded-t-4 {
	padding-top: 40px;
}

.padded-b-4 {
	padding-bottom: 40px
}

.padded-t-6 {
	padding-top: 60px
}

.padded-b-6 {
	padding-bottom: 60px
}

@media (max-width: 991px) {
	.hidden-sm-xs {
		display: none;
	}
}

/*---------------------------------------
     Breadcrumb
  -----------------------------------------*/
.breadcrumb {
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 24px;
	padding-bottom: 0px;
	list-style: none;
	border-radius: 4px;
}
@media (max-width:767px){
	.breadcrumb {
		text-align: center;
	}
}

.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
	color: #8F8F8F;
}


/*---------------------------------------
     PRODUCT-PAGE
  -----------------------------------------*/

@media (max-width: 767px) {
	.nav-tabs>li>a{
		font-size: 13px;
		margin-right: 1px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		padding-right: 6px;
		padding-left: 6px;
		padding-top: 8px;
	}
}

/*/Key Features/*/
.small-img{
	padding-top: 10px;
}

.product-content {
	padding-top: 12px;
	padding-left: 16px;
}

.product-content ul {
	list-style: disc;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 24px;
	padding-bottom: 6px;
	line-height: 24px;
	color: #757575;
}

.product-category {
	color: #757575;
	padding-top: 10px;
}

.product-color {
	padding-top: 20px;
}
@media (max-width: 767px) {
	.product-color {
		padding-top: 0px;
	}
}

@media (max-width:767px){
	.pd-content {
		padding: 0 16px;
	}
}

.pic-title {
	line-height: 26px;
}

.pd-content-icon {
	text-align: center;
	padding-bottom: 16px;
}

.keyfeatures-block-icon {
	background: #f6f6f6;
	width: 120px;
	height: 120px;
	margin: 0 auto 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic-content {
	padding-top: 20px;
	padding-left: 12px;
	padding-right: 12px;
}
@media (max-width: 767px) {
	.pic-content {
		padding: 24px 20px;
	}
}

.pic-content ul {
	list-style: disc;
	margin-top: -12px;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 24px;
	padding-bottom: 6px;
	line-height: 24px;
	color: #757575;
}

.pic-content h5{
	padding-left: 6px;
	margin-bottom: 0px;
}

.img-353{
	display: flex;
    justify-content: center;
    align-items: center;
}

.pd-pic-color{
	transition: 0.3s;
}
.pd-pic-color :hover{
	transform: scale(0.95);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.track-app ul {
	list-style: disc;
	margin-top: -12px;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 24px;
	padding-bottom: 6px;
	line-height: 24px;
	color: #757575;
}

.pic-content-small-title {
	padding: 20px 12px;
	text-align: center;
}

@media (max-width: 991px) {
	.pic-course img{
		width: 60%;
		transform: translateX(34%);
	}
}
@media (max-width: 767px) {
	.pic-course {
		width: 70%;
		margin: 0 auto;
	}
}

.pd-pic-left {
	padding-right: 0;
}

.pd-pic-right {
	padding-left: 0;
}

@media (max-width: 767px) {
	.pd-pic-left {
		padding-right: 15px;
	}
	.pd-pic-right {
		padding-left: 15px;
	}
}

.pd-word-flex {
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.pd-img-flex {
	display: flex;
	justify-content: center;
  	align-items: center;
}

.pd-word-right {
	padding: 40px;
}

@media (min-width: 768px) {
	.flex {
		display: flex;
	}
}

/*/Specifications/*/

.pic-353, .pic-400 {
	width: 60%;
}

@media (max-width:991px) {
	.pic-353, .pic-400 {
		width: 100%;
	}
}

.specifications {
	padding: 20px 25px;
}

.specifications table {
    border: 1px solid #ddd;
    width: 100%;
    margin: 30px auto;
}

.specifications table th {
	width: 30%;
}

/*/Where to buy/*/

.where-to-buy {
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.flag {
	margin-right: 30px;
}

.where-to-buy a {
	padding-right: 40px;
}


/*---------------------------------------
     PRODUCTS
  -----------------------------------------*/
.products-title{
	position: absolute;
	bottom: 5%;
	padding: 0 30px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.products-title h3{
	color: white;
}

.products-title h6{
	color: white;
	font-size: 16px;
}

.products h4{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #232323;
	margin-top: 12px;
    margin-bottom: 6px;
    margin-left: 6px;
}

.products h5{
	margin-top: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
    margin-bottom: 12px;
    margin-left: 6px;
}

.products-flex{
	display: flex;
}

.products-describe{
	display: flex;
	justify-content: center;
    align-items: center;
}

.products .flex .col-xs-6{
	padding: 0px;
}

.products .thumb .overlay{
	position: absolute;
  	background-color: #2a2a2a;
  	border-radius: 3px;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 1;
  	opacity: 0;
  	visibility: hidden;
  	transition: all .3s;
}

.products .thumb-big .overlay{
	position: absolute;
  	background-color: #2a2a2a;
  	top: 0;
  	bottom: 0;
  	left: 15px;
  	right: 15px;
  	z-index: 1;
  	opacity: 0;
  	visibility: hidden;
  	transition: all .3s;
}

.products .thumb:hover .overlay, .products .thumb-big:hover .overlay{
	opacity: .1;
  	visibility: visible;
}

.products .products-pic-left .overlay{
	left: -15px;
}

.products .products-pic-right .overlay{
	right: -15px;
}


/*---------------------------------------
     PRODUCT CATELOG
  -----------------------------------------*/
.category-description {
	color: #757575;
	text-align: center;
	line-height: 28px;
	padding: 0 12px;
	font-size: 16px;
}

/*/Watch model/*/
.watch-model .watch-item .thumb {
  position: relative;
  z-index: 1;
}

.watch-model .watch-item .thumb img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.watch-model .watch-item .thumb .date-content h6 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.watch-model .watch-item .thumb .date-content span {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.5px;
}

.watch-model .watch-item {
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid #fff;
  margin-bottom: 40px;
}

.watch-model .watch-item:hover {
	transform: translateY(-8px);
	border-color: #64c2bf;
}

.watch-model .watch-item .down-content {
	background-color: #fff;
	padding: 20px 28px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.watch-model .watch-item .down-content a {
	text-decoration: none;
}

.watch-model .watch-item .down-content h4 {
	margin-top: 0px;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	color: #232323;
	margin-bottom: 6px;
	margin-left: 6px;
}

.watch-model .watch-item .down-content h5 {
	margin-top: 0px;
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	margin-bottom: 16px;
	margin-left: 6px;
}

.watch-model .watch-item .down-content span {
	display: block;
	font-size: 14px;
	line-height: 22px;
	color: #0088e8;
	margin-bottom: 15px;
	margin-left: 6px;
}

.watch-model .watch-item .down-content .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.watch-model .watch-item .down-content .text-button {
	text-align: center;
	height: 42px;
	line-height: 50px;
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 0px 12px;
	width: 160px;
	background-color: #0088e8;
	border-radius: 5px;
	transition: 0.3s;
}

.watch-model .watch-item .down-content .text-button:hover {
	background-color: #64c2bf;
}

.watch-model .watch-item .down-content .text-button p {
	color: white;
	padding: 8px;
}

.watch-model .watch-item .down-content .first-button {
  border-right: 1px solid #ddd;
}

.watch-model .watch-item .down-content .text-button a {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 32px;
}


/*---------------------------------------
     ABOUT CANMORE
  -----------------------------------------*/

.tm-slideshow-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tm-slideshow { width: 50%; }

.tm-slideshow-description {
	padding-top: 32px;
	padding-right: 32px;
	padding-left: 32px;
	padding-bottom: 32px;
	color: white;
	width: 53%;
	z-index: 100;
	margin-left: -42px;
}

.tm-slideshow-description p {
	color: white;
}

.tm-bg-primary { background: #64c2bf; }

@media screen and (max-width: 1033px) {
    .tm-slideshow-description { width: 55%; }
}

@media screen and (max-width: 768px) {
    .tm-slideshow-section { flex-direction: column; }
    
    .tm-slideshow,
    .tm-slideshow-description {
        width: 100%;
        max-width: 700px;
    }

    .tm-slideshow-description {        
        margin-right: auto;
        margin-left: auto;
    }
}

.value-item {
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 36px;
	border: 2px solid #F1F1F1;
	border-radius: 5px;
	transition: all .3s;
	margin-bottom: 0px;
}

@media (max-width: 991px) {
	.value-item {
		text-align: center;
		padding: 30px;
	}
}

#brand_values .icon {
	margin-top: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

@media (max-width: 991px) {
	#brand_values .icon {
		margin: auto;
	}
}

#brand_values h4 {
	font-size: 20px;
	font-weight: 700;
	color: #2a2a2a;
	margin-bottom: 15px;
}

.value {
	padding-bottom: 20px;
}

/*---------------------------------------
      CONTACT             
  -----------------------------------------*/
.container-contact {
    width: 100%;
	padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact iframe {
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 100%;
	height: 940px;
}


/*---------------------------------------
     SUPPORT
  -----------------------------------------*/

@media (max-width: 991px){
	.left-rail {
		background-color: #fafafa;
		margin: 0 14px 30px;
		padding: 0px 0px;
}
	.left-rail ul#topics-list {
		list-style: none;
	}
	.left-rail ul#topics-list li {
		border-left: 3px solid #e1e1e1;
	}
	.left-rail ul#topics-list li a {
		line-height: 18px;
		color: #707070;
		font-weight: 400;
		position: relative;
		cursor: pointer;
		display: inline-block;
		margin: 5px 0;
		padding: 13px 35px 15px 16px;
	}
	.left-rail ul#topics-list li.selected {
		background-color: #f2f2f2;
		color: #2d2d2d;
		border-left: 3px solid #64c2bf;
	}
	.left-rail ul#topics-list li.selected a {
		padding-left: 16px;
		color: #2d2d2d;
		font-weight: bold;
	}
}

@media (min-width: 992px){
	.left-rail {
		background-color: #fafafa;
		padding-top: 12px;
		padding-bottom: 12px;
}
	.left-rail ul#topics-list {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.left-rail ul#topics-list li {
		margin: 0;
		width: 100%;
		float: left;
		display: block;
		border-left: 3px solid #e1e1e1;
	}
	.left-rail ul#topics-list li a {
		line-height: 18px;
		color: #707070;
		font-weight: 400;
		position: relative;
		cursor: pointer;
		display: block;
		margin: 5px 0;
		padding: 13px 35px 15px 16px;
	}
	.left-rail ul#topics-list li.selected {
		background-color: #f2f2f2;
		color: #2d2d2d;
		border-left: 3px solid #64c2bf;
	}
	.left-rail ul#topics-list li.selected a {
		padding-left: 16px;
		color: #2d2d2d;
		font-weight: bold;
	}
}

/*/panel-body/*/

.panel-body ul {
	padding: 6px;
	line-height: 24px;
	color: #757575;
}

.panel-body h3 {
	line-height: 32px;
	font-weight: 600;
}

.panel-default>.panel-heading {
	border: solid 1px #D7D7D7;
	cursor: pointer;
}

.panel-heading .icon {
  float: right;
  display: flex;
  margin-top: -7px;
  transition: transform 200ms ease-in-out;
  transform: rotate(0deg);
}

.panel-heading.active {
	background-color: #64c2bf;
	color: white;
	border: none;
}

.panel-heading.active .icon {
  transform: rotate(45deg);
}

.ul-circle {
	list-style: disc;
}

.ul-number {
	list-style: decimal;
}

.btn-modal{
	color: #0088e8;
	background-color: white;
	border-radius: 3px;
	border: solid 1px #0088e8;
	padding: 0 10px;
	transition: 0.3s;
}
.btn-modal:hover{
	color: white;
	background-color: #0088e8;
}

.panel-body .img-353 img{
	width: 70%;
}
@media (min-width:768px) {
	.panel-body .img-353 img{
		width: 100%;
	}
}

/*/QA-pic/*/

.QA-1 {
	width: 50%;
}
.QA-2 {
	width: 70%;
}
.QA-6 {
	width: 75%;
}
.QA-8-1 {
	width: 18%;
}
.QA-8-2 {
	width: 42%;
}
.QA-9 {
	width: 45%;
}
.QA-10 {
	width: 80%;
}
.QA-12 {
	width: 85%;
}
.QA-13 {
	width: 100%;
}
.QA-18 {
	width: 85%;
}
.QA-19 {
	width: 60%;
}
.QA-20 {
	width: 100%;
}

@media (max-width: 991px) {
	.QA-1 {
		width: 100%;
	}
	.QA-2 {
		width: 100%;
	}
	.QA-6 {
		width: 100%;
	}
	.QA-8-1 {
		width: 30%;
	}
	.QA-8-2 {
		width: 70%;
	}
	.QA-9 {
		width: 100%;
	}
	.QA-10 {
		width: 100%;
	}
	.QA-12 {
		width: 100%;
	}
	.QA-18 {
		width: 100%;
	}
	.QA-19 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.QA-13 {
		width: 80%;
	}
	.QA-20 {
		width: 50%;
	}
	.QA-26-1 {
		width: 60%;
	}
	.QA-26-2 {
		width: 80%;
	}
}

table td {
    border: none;
    border-bottom: 1px solid #ddd;
}

.device_language_table {
	width: 100%;
}

.device_language_table th {
	color: #fff;
	background-color: #0088e8;
	padding: 18px 20px;
}

.device_language_table tbody td {
	padding: 18px 20px;
}

.device_language_table tbody tr:nth-child(odd) { 
    background: #fafafa;
 }

.device_waterproof {
	width: 70%;
}

.device_waterproof th {
	color: #fff;
	background-color: #0088e8;
	padding: 18px 20px;
}

.device_waterproof tbody td {
	padding: 18px 20px;
}

.device_waterproof tbody tr:nth-child(odd) { 
    background: #fafafa;
 }

@media screen and (max-width: 768px) {
  .table-hover>tbody>tr:hover{background-color:white}
  .table-rwd{min-width: 100%;}
  /*針對tr去做隱藏*/
  tr.tr-only-hide {display: none !important;}
  /*讓tr變成區塊主要讓他有個區塊*/
  .table-rwd tbody tr{
    display: block;
    margin-top: 10px;
  }
  .table-rwd tr td:last-child {
    border: none;
  }
  .table-rwd tbody tr:nth-child(odd) { 
    background: rgba(0, 147, 208,0.1);
  }
  .table-rwd tbody td {
	text-align: left;
	line-height: 28px;
	overflow: hidden;
	width: 100%;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	}
	.table-rwd td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
	margin-right: 14px;
    color: #0093d0;
  }
 
  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  
}

/*---------------------------------------
     Courses
  -----------------------------------------*/
#course{
	margin: auto;
}

#course-iframe p{
	text-align: center;
}

#course-iframe p>a{
	padding: 0;
}

#course-iframe p>a:hover{
	text-decoration: underline;
}

#course-iframe a{
	text-decoration: none;
	display: inline-block;
	padding: 12px;
}

#course .flex{
	display: flex;
	justify-content: center;
    align-items: center;
}

.course-download{
	padding-bottom: 20px;
}

.download {
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	border-bottom: 3px solid #fff;
	margin-bottom: 0px;
	margin-top: 16px;
}
.download:hover {
	transform: translateY(-8px);
	border-color: #64c2bf;
}

.download .thumb{
	display: flex;
    justify-content: center;
    align-items: center;
}

.download p{
	margin-top: 4px;
	margin-bottom: -8px;
}

#course iframe{
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 100%;
	height: 480px;
}

/*---------------------------------------
     Where To Buy
  -----------------------------------------*/
.shop-area{
	padding: 14px 0;
}

.shop-area h4{
	text-align: center;
	font-weight: bold;
}

.shop-area h4:after {
    content: "";
    display: block;
    background-color: #bfc1c5;
    width: 50px;
    height: 2px;
    margin: 20px auto;
}
.shop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-list .shop-item {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 16px;
}

@media (min-width: 768px){
	.shop-list .shop-item {
		width: 40%;
		margin: 8px;
	}
}

@media (min-width: 1000px){
	.shop-list .shop-item {
    	width: 30%;
	}
}

.shop-list .local-store {
	background-color: #fff;
    box-shadow: 0px 2px 8px 0px rgb(0,0,0,0.1);
	overflow: hidden;
    padding: 20px 25px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	transition: all 0.3s ease-in-out;
}

.shop-list .local-store:hover {
	transform: translateY(-8px);
}

.shop-list .shop-item .shop-img {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-list .shop-item .shop-img figure {
    max-width: 80%;
}

.shop-list .shop-item .shop-img figure img {
    max-width: 120px;
}

/*---------------------------------------
     Sitemap
  -----------------------------------------*/
.sitemap-category{
	padding: 16px 0;
}
@media (max-width:767px){
	.sitemap-category{
		padding: 16px 16px;
	}
}

.sitemap-category hr{
	margin-top: 10px;
}

.sitemap-category h4 a{
	margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
	line-height: 26px;
}

.sitemap-category p{
	margin: 0;
}

.sitemap-category p a{
	padding: 6px 0;
    color: #757575;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
}


/*-----------------------------------------
     INDEX
  -----------------------------------------*/

/*--------------------------
     PRODUCTS SLIDER          
  --------------------------*/
.column,.columns{padding-left:.9375rem;padding-right:.9375rem;width:100%;float:left}
.column+.column:last-child,.columns+.column:last-child,.column+.columns:last-child,.columns+.columns:last-child{float:right}
.column+.column.end,.columns+.column.end,.column+.columns.end,.columns+.columns.end{float:left}

@media only screen and (min-width: 64.0625em){
	.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}
	.large-1{width:8.3333333333%}
	.large-2{width:16.6666666667%}
	.large-3{width:25%}
	.large-4{width:33.3333333333%}
	.large-5{width:41.6666666667%}
	.large-6{width:50%}
	.large-7{width:58.3333333333%}
	.large-8{width:66.6666666667%}
	.large-9{width:75%}
	.large-10{width:83.3333333333%}
	.large-11{width:91.6666666667%}
	.large-12{width:100%}
}

#slider .owl-carousel{margin:2rem 0}
#slider .owl-carousel .item{
	background-color: #fff;
	box-shadow: 0 2px 3px 1px #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid #fff;
	margin-left: 4px;
	margin-right: 4px;
    margin-bottom: 4px;
}
@media screen and (max-width: 1320px){
	#slider .owl-carousel .item{
		margin-bottom: 20px;
	}
}
#slider .owl-carousel .item a{
	text-decoration: none;
}
#slider .owl-carousel .item a:hover{
	transform: scale(0.9);
}
#slider .owl-carousel .item .content{
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}
#slider .owl-carousel .item .content h4{
	margin-top: 0px;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	color: #232323;
	margin-bottom: 6px;
}
#slider .owl-carousel .item .content h5{
	margin-top: 0px;
	font-size: 14px;
	line-height: 22px;
	color: #6A6A6A;
}
#slider .owl-carousel .item-video{height:300px}
#slider #setup{margin-top:4rem}
#slider .demo-list h5{margin:0}
@media only screen{
	.demo-list [class*="column"]+[class*="column"]:last-child{float:left}
}


/*-----------------------
     BANNER SLIDER          
  -----------------------*/
/*reset*/
ul.bannerSlider{
  padding-left:0;
}
.bannerSlider{
	height: 460px;
}

.bannerSlider .slick-slide {
	position: relative;
}
.bannerSlider .slick-slide a{
	outline: none;
}

.bannerSlider .slide__image img {
	width: 100%;
	height: 460px;
	object-fit: cover;
}
img.slide__image__top-position {
	object-position:center bottom;
}

.bannerSlider .slide__pd {
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
}
.bannerSlider .slide__pd img {
	width: 250px;
}

.bannerSlider .slide-1 .slide__pd, .bannerSlider .slide-2 .slide__pd, .bannerSlider .slide-3 .slide__pd {
	display: none;
}

.bannerSlider .slide-1 .slide__text ,.bannerSlider .slide-2 .slide__text ,.bannerSlider .slide-3 .slide__text {
	position: absolute;
	z-index: 100;
	text-align: center;
	min-width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@media (min-width: 1010px) {
	.bannerSlider .slide-1 .slide__text {
		text-align: left;
		left: 44%;
		min-width: 340px;
		max-width: 360px;
	}
	.bannerSlider .slide-1 .slide__pd {
		display: block;
		right: 17%;
	}
	.bannerSlider .slide-2 .slide__text {
		text-align: left;
		left: 53%;
		min-width: 360px;
		max-width: 380px;
	}
	.bannerSlider .slide-2 .slide__pd {
		display: block;
		left: 10%;
	}
	.bannerSlider .slide-3 .slide__text {
		text-align: left;
		left: 55%;
		min-width: 360px;
		max-width: 380px;
	}
	.bannerSlider .slide-3 .slide__pd {
		display: block;
		left: 10%;
	}
}
@media (min-width: 1200px) {
	.bannerSlider .slide-1 .slide__text {
		text-align: left;
		left: 44%;
		min-width: 360px;
		max-width: 400px;
	}
	.bannerSlider .slide-1 .slide__pd {
		display: block;
		right: 20%;
	}
	.bannerSlider .slide-2 .slide__text {
		text-align: left;
		left: 53%;
		min-width: 360px;
		max-width: 380px;
	}
	.bannerSlider .slide-2 .slide__pd {
		display: block;
		left: 16%;
	}
	.bannerSlider .slide-3 .slide__text {
	text-align: left;
	left: 54%;
	min-width: 360px;
	max-width: 400px;
	}
	.bannerSlider .slide-3 .slide__pd {
		display: block;
		left: 15%;
	}
}
@media (min-width: 1440px) {
	.bannerSlider .slide-1 .slide__text {
		text-align: left;
		left: 49%;
		min-width: 360px;
		max-width: 380px;
	}
	.bannerSlider .slide-1 .slide__pd {
		display: block;
		left: 70%;
	}
	.bannerSlider .slide-2 .slide__text {
		text-align: left;
		left: 50%;
		min-width: 360px;
		max-width: 380px;
	}
	.bannerSlider .slide-2 .slide__pd {
		display: block;
		left: 18%;
	}
	.bannerSlider .slide-3 .slide__text {
		text-align: left;
		left: 51%;
		min-width: 360px;
		max-width: 400px;
	}
	.bannerSlider .slide-3 .slide__pd {
		display: block;
		left: 18%;
	}
}

.bannerSlider .slide__text h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	color: #fff;
}
.bannerSlider .slide__text h4 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	padding-top: 12px;
}

.bannerSlider {
	margin: 0 auto;
}

.bannerSlider .slick-arrow{
	position: absolute;
	top: calc(50% - 16px);
	font-size: 32px;
	z-index: 2;
	color: rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.00);
	transition: 0.3s;
}
.bannerSlider .slick-arrow:hover{
	color: rgba(255,255,255,0.7);
}
.bannerSlider .slick-prev {
	border: none;
	left: 30px;
}
.bannerSlider .slick-next {
	border: none;
	right: 30px;
}
.bannerSlider i:hover{
	cursor: pointer;
} 


/*-----------------------
     BRAND STORY
  -----------------------*/

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
@media (min-width: 1200px){
	.align-middle-xl {
    	display: flex;
    	flex-direction: column;
		justify-content: center;
	}
}

#brand-story {
	min-height: 560px;
}
@media (max-width: 991px){
	#brand-story {
    	min-height: 1009px;
	}
}
@media (max-width: 767px){
	#brand-story {
    	min-height: 854px;
	}
}
@media (max-width: 575px){
	#brand-story {
    	min-height: 733px;
	}
}

.expanded-width {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.grey-bg {
    color: #ffffff;
    background-color: #E4E4E4;
}
#brand-story .bg-shape {
    height: 300px;
    margin: 0px auto 0 0;
}
@media (max-width: 1199px){
	#brand-story .bg-shape {
		margin-top: 187px;
		margin-right: initial;
		margin-left: initial;
	}
}
@media (max-width: 767px){
	#brand-story .bg-shape {
		margin-top: 202px;
		margin-right: initial;
		margin-left: initial;
	}
}

section > *, header > *, footer > *, .u-sheet > * {
    position: relative;
}

/*--------image--------*/
.brand-img {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.brand-img {
    color: #111111;
}
img.brand-img {
    overflow: hidden;
}
#brand-story .brand-img-1 {
	width: 855px;
	height: 500px;
	object-position: 95.67% 50%;
	background-position: 95.67% 50%;
	margin: -400px auto 0 calc(((100% - 1140px) / 2));
}
@media (max-width: 1199px){
	#brand-story .brand-img-1 {
		width: 751px;
		object-position: 23.38% 50%;
		margin-left: calc(((100% - 940px) / 2));
	}
}
@media (max-width: 991px){
	#brand-story .brand-img-1 {
		width: 673px;
		height: 585px;
		margin-left: calc(((100% - 720px) / 2));
	}
}
@media (max-width: 767px){
	#brand-story .brand-img-1 {
		width: 506px;
		height: 464px;
		margin-top: -415px;
		margin-left: calc(((100% - 540px) / 2));
	}
}
@media (max-width: 575px){
	#brand-story .brand-img-1 {
		width: 352px;
		height: 292px;
		margin-top: -415px;
		margin-left: 0;
	}
}

/*--------content word--------*/
.group {
    display: flex;
}

.white-bg {
    color: #111111;
    background-color: #ffffff;
}

#brand-story .group-1 {
	width: 528px;
	min-height: 400px;
	background-image: none;
	margin: -450px calc(((100% - 1140px) / 2)) -46px auto;
}
@media (max-width: 1199px){
	#brand-story .group-1 {
		width: 458px;
		min-height: 400px;
		margin-top: -475px;
		margin-right: calc(((100% - 940px) / 2));
		margin-bottom: 60px;
	}
}
@media (max-width: 991px){
	#brand-story .group-1 {
		min-height: 438px;
		margin-top: -109px;
		margin-right: calc(((100% - 720px) / 2));
		margin-bottom: 22px;
	}
}
@media (max-width: 767px){
	#brand-story .group-1 {
		min-height: 383px;
		margin-top: -93px;
		margin-right: 50px;
		margin-bottom: -30px;
	}
}
@media (max-width: 575px){
	#brand-story .group-1 {
		width: 340px;
		margin-top: -42px;
		margin-right: auto;
		margin-bottom: -11px;
	}
}

.container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
.align-middle {
    display: flex;
    flex-direction: column;
	justify-content: center;
}

#brand-story .container-layout-1 {
	padding: 30px 44px;
}


/*-----------------------
     PRODUCT CATEGORIES
  -----------------------*/

#product-categories .col-sm-4{
	padding: 0;
}

#product-categories .thumb,#product-categories .thumb-middle{
	position: relative;
}

#product-categories .thumb .overlay{
	position: absolute;
    background-color:#000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
#product-categories .thumb-middle .overlay{
	position: absolute;
    background-color:#000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
}
#product-categories .thumb .word{
	position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 70%;
	text-align: center;
	color: white;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
#product-categories .thumb-middle .word{
	position: absolute;
    z-index: 11;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 70%;
	text-align: center;
	color: white;
    opacity: 1;
}
#product-categories .thumb h4,#product-categories .thumb-middle h4{
	font-size: 20px;
    font-weight: 600;
	line-height: 24px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 5px;
}
#product-categories .thumb h5,#product-categories .thumb-middle h5{
	font-size: 14px;
	line-height: 20px;
	opacity: 0.9;
	padding-top: 8px;
}
#product-categories .thumb p,#product-categories .thumb-middle p{
	color: white;
	border: solid 2px white;
	transition: 0.3s;
}
#product-categories .thumb-middle p:hover{
	color: #000;
	background-color: white;
}

#product-categories .thumb:hover .overlay {
  opacity: .7;
  visibility: visible;
}
#product-categories .thumb:hover .word {
  opacity: 1;
  visibility: visible;
}


/*-----------------------
     BRAND PERSONALITY
  -----------------------*/
#brand-personality{
	margin-top: 30px;
	margin-bottom: -40px;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/index-brandvalue.jpg);
    background-position: 0% 100%;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#brand-personality .icon{
	position: relative;
	background-color: rgba(100, 194, 191,0.6);
	border-radius: 100%;
	height: 65px;
	width: 65px;
	margin-top: 12px;
	left: 50%;
	transform: translateX(-50%);
}
#brand-personality .icon img{
	width: 65%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#brand-personality h3{
	color: white;
	margin-bottom: 20px;
}

@media (max-width: 767px){
	#brand-personality h3{
		margin-bottom: 40px;
	}
}

#brand-personality h4{
	z-index: 11;
	font-size: 20px;
	font-weight: 700;
	color: white;
	margin-top: 20px;
	margin-bottom: 10px;
}
#brand-personality p{
	color: white;
}

@media (max-width: 991px){
	#brand-personality h4,#brand-personality p {
		text-align: center;
	}
}
